In [49]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
scaler = preprocessing.StandardScaler()

In [53]:
train_data = pd.read_csv('train.csv')
train_data = train_data.dropna()
X_train = train_data.loc[:, ["ApplicantIncome","LoanAmount","Gender"]]
y_train = train_data.loc[:, ["Loan_Status"]].values.ravel()
le.fit(X_train['Gender'])
X_train['Gender']=le.transform(X_train['Gender'])
X_train = X_train.values

In [15]:
test_data = pd.read_csv('test.csv')
train_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [54]:
model = LogisticRegression().fit(X_train,y_train)

In [55]:
y_pred = model.predict(X_train)

In [56]:
confusion_matrix(y_train,y_pred)

array([[  0, 148],
       [  2, 330]], dtype=int64)

In [57]:
classification_report(y_train,y_pred)

'              precision    recall  f1-score   support\n\n           N       0.00      0.00      0.00       148\n           Y       0.69      0.99      0.81       332\n\n    accuracy                           0.69       480\n   macro avg       0.35      0.50      0.41       480\nweighted avg       0.48      0.69      0.56       480\n'

In [58]:
model.score(X_train,y_train)

0.6875

In [70]:
model.predict([
    [1000, 800, 1]
])

array(['N'], dtype=object)