In [10]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
scaler = preprocessing.StandardScaler()

In [15]:
train_data = pd.read_csv('train.csv')
train_data = train_data.dropna()
X_train = train_data.loc[:, ["ApplicantIncome","LoanAmount"]]
y_train = train_data.loc[:, ["Loan_Status"]].values.ravel()
#le.fit(X_train['Gender'])
#X_train['Gender']=le.transform(X_train['Gender'])
X_train = X_train.values

     ApplicantIncome  LoanAmount
1          -0.137970       128.0
2          -0.417536        66.0
3          -0.491180       120.0
4           0.112280       141.0
5           0.009319       267.0
..               ...         ...
609        -0.435196        71.0
610        -0.222210        40.0
611         0.478206       253.0
612         0.391846       187.0
613        -0.137970       133.0

[480 rows x 2 columns]

In [3]:
test_data = pd.read_csv('test.csv')
train_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [11]:
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [12]:
y_pred = model.predict(X_train)

In [13]:
confusion_matrix(y_train,y_pred)

array([[ 83,  65],
       [ 37, 295]], dtype=int64)

In [14]:
classification_report(y_train,y_pred)

'              precision    recall  f1-score   support\n\n           N       0.69      0.56      0.62       148\n           Y       0.82      0.89      0.85       332\n\n    accuracy                           0.79       480\n   macro avg       0.76      0.72      0.74       480\nweighted avg       0.78      0.79      0.78       480\n'

In [15]:
model.score(X_train,y_train)

0.7875

In [23]:
model.predict([
    [1000, 200]
])

array(['Y'], dtype=object)